<div class="container">
    <div class="row row-content">
        <h1>Welcome to Online News Portal</h1>
        <h3>An online newspaper (or electronic news or electronic news publication) is the online version of a newspaper, either   as a stand-alone publication or as the online version of a printed periodical. Going online created more opportunities for newspapers, such as competing with broadcast journalism in presenting breaking news in a more timely manner. The credibility and strong brand recognition of well established newspapers, and the close relationships they have with advertisers, are also seen by many in the newspaper industry as strengthening their chances of survival. <br>
          The movement away from the printing process can also help decrease costs. Online newspapers, like printed newspapers, have legal restrictions regarding libel, privacy, and copyright, also apply to online publications in most countries as in the UK. Also, the UK Data Protection Act applies to online newspapers and news pages. Up to 2014, the PCC ruled in the UK, but there was no clear distinction between authentic online newspapers and forums or blogs. In 2007, a ruling was passed to formally regulate UK-based online newspapers, news audio, and news video websites covering the responsibilities expected of them and to clear up what is, and what isn't an online news publication.<br>
          News reporters are being taught to shoot video and to write in the succinct manner necessary for Internet news pages. Some newspapers have attempted to integrate the Internet into every aspect of their operations, e.g., the writing of stories for both print and online, and classified advertisements appearing in both media, while other newspaper websites may be quite different from the corresponding printed newspaper.</h3>
    </div>
    <div class="row">
        <div class="card category"*ngFor="let cat of categoryNews; let ind = index" routerLink="/category">
            <img [src]="cat.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h1>{{ cat.cat }}</h1>
            </div>
          </div>
    </div>
</div>